.info {
    .avatar {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        box-shadow: 0 0 0 0.25rem #fff, 0 0 0 0.25rem #999, 0 0.125rem 0.25rem 0.25rem rgba(0, 0, 0, .2);
        margin: 3.5rem auto;
        margin-top: 0;
        background: url('../images/1.png') center;
        background-size: cover;
    }

    .name {
        font-size: 2.5rem;
        font-weight: bold;
        color: $yankees_blue;
        margin-bottom: 0.5rem;
    }

    .title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $gunmetal;

        .title-company {
          font-size: 1rem;
          font-weight: normal;
          font-style: italic;
          color: $silver;
        }
    }

    .contacts {
        color: $silver;
        font-size: 1rem;
        font-weight: bolder;
        margin-top: 1rem;

        .contact {
            display: inline-block;
            position: relative;
            @media screen and (max-width: $screen-phone) {
                margin-right: 0.5rem;
            }
        }

        .icon-wechat {
            color: #1AAD19;
            .wechat {
                display: none;
            }

            &:hover {
                cursor: pointer;
                color: #2ed573;

                .wechat {
                    position: absolute;
                    top: -5.5rem;
                    right: -1.75rem;
                    display: inline-block;
                    width: 5rem;
                    height: 5rem;
                    background: url("../images/weixin.png") no-repeat;
                    background-size: cover;
                    border: 0.1rem solid rgb(68, 132, 216);
                    border-radius: 5%;

                    &::after,
                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                    }

                    &:before {
                        bottom: -1.01rem;
                        right: 1.75rem;
                        border: 0.5rem transparent solid;
                        border-top-color:rgb(68, 132, 216);
                    }

                    &::after {
                        bottom: -0.75rem;
                        right: 1.85rem;
                        border: 0.4rem transparent solid;
                        border-top-color: #fff;
                    }
                }
            }
        }
    }
    .icon-envelop:hover{
        color: #ffa502;
    }
    .icon-github:hover{
        color: #bdbdbd;
    }
    .iconmayun{
        font-size: 1rem;
    }
    .iconmayun:hover{
        color: rgb(184, 0, 0);
    }

    .pdf {
        display: inline-block;
        margin-top: 2rem;

        font-size: 0.8rem;
        color: $yankees_blue;
        // text-decoration: underline;
    }
    .pdf:hover{
        color: red;
    }
}
