$gunmetal: #2E3338; //日期字体颜色
$gray: #888888; //技能字体颜色
$silver: #727582; //图标颜色
$white_smoke: #F4F7F9; //背景色
$yankees_blue: rgb(61, 32, 20);//大字体标题颜色
$deep-space-sparkle: #4C5C68; //工作简历页面的标题颜色

// Extra screen phone
$screen-phone: 480px;

// Extra screen tablets
$screen-tablet: 768px;
