/* Coolors Exported Palette - coolors.co/00648c-0076a5-0089bf-009bd8-00b6ff */

/* HSL */
$color1: hsla(197%, 100%, 27%, 1);
$color2: hsla(197%, 100%, 32%, 1);
$color3: hsla(197%, 100%, 37%, 1);
$color4: hsla(197%, 100%, 42%, 1);
$color5: hsla(197%, 100%, 50%, 1);

/* RGB */
$color1: rgba(0, 100, 140, 1);
$color2: rgba(0, 118, 165, 1);
$color3: rgba(0, 137, 191, 1);
$color4: rgba(0, 155, 216, 1);
$color5: rgba(0, 182, 255, 1);